# This file maintains the list of all env variables that are getting used in gitpod workspace.

PROJECT_ROOT='/workspace/terraform-beginner-bootcamp-2023'
AWS_ACCESS_KEY_ID='AKIAIOSFODNN7EXAMPLE'
AWS_SECRET_ACCESS_KEY='1234567xxxxxxxxx'
AWS_DEFAULT_REGION='ca-central-1'
TERRAFORM_CLOUD_TOKEN='TEST-TOKEN'