terratowns_endpoint="https://terratowns.cloud/api"
bucket_name="kj6aabzpfzte3mk226o5tdjioko37if1"
index_object_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/index.html"
error_object_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version = 1